@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
    }

        .btn:hover {
            background-color: #fff;
            color: black;
            border: 1px solid black;
        }

    #about-row {
        height: 300px;
    }

        #about-row > li {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

    #about {
        padding: 30px 120px;
    }

    #aboutme-img {
        width: 100%;
    }

    .img-contact {
        width: 40px;
    }

    @@media (min-width:768px) {
        #about {
            min-width: 1300px;
        }
    }

    @@media (max-width:767px) {
        p {
            font-size: 12px !important;
        }

        h2 {
            font-size: 20px !important;
        }

        h1 {
            font-size: 23px;
        }

        #h1-about {
            font-size: 14px !important;
            margin-bottom: 0px;
        }

        #about {
            padding: 20px 10px;
        }

        #about-row {
            height: 130px;
        }

        .img-contact {
            width: 20px;
        }
       .recent-post{
	position: relative;
	display: block;
	margin-bottom: 20px;
}
.recent-post:hover{
	background-color: rgba(0,0,0,0.5);
}
.recent-post div{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top:0;
	opacity: 0;
	background-color: rgba(0,0,0,0.7);
	transition: opacity 0.7s;
	-webkit-transition:opacity 0.7s;
}
.recent-post div a{
	color:#fff !important;
}
.recent-post:hover div{
	opacity: 1;
}
}
    }
</style>

@using MyBlog.Models;
<div class="page-header" aria-expanded='true' style="margin: 0 !important; background-color: #eee">
    <ul class="list-inline" id="about-row">
        <li style="width:25%;padding:10px;">
            <img class="thumbnail wow slideInLeft data-wow-duration='1s'" src='@Url.Content("~/Content/images/aboutme.jpg")' id="aboutme-img" />
        </li>
        <li style="width:70%;padding-left:20px;">
            <h1 id="h1-about" class="wow slideInRight" data-wow-duration='1s' data-wow-delay='0.5s'>
                Hi!<br />
                <small>
                    This is me, I'm writing this blog mainly to get things out of my head by writing it down.
                    I also made some sections include funny moments of me and my friends.
                    Hope you'd enjoy it <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <br />
                    <strong>You can contact with me via:</strong>
                </small>
            </h1>
            <ul class="list-inline wow bounceIn" data-wow-duration='1s' data-wow-delay='1s'>
                <li>
                    <a href="https://facebook.com/dangduoc.95" target="_blank">
                        <img src='@Url.Content("~/Content/images/facebook.png")' class="img-contact">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/ImFineTK" target="_blank">
                        <img src='@Url.Content("~/Content/images/twitter.png")' class="img-contact">
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/100820830678873196232/posts" target="_blank">
                        <img src='@Url.Content("~/Content/images/google.png")' class="img-contact">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCNJ7FkAmUgIDDa_DDTztkCw" target="_blank">
                        <img src='@Url.Content("~/Content/images/youtube.png")' class="img-contact">
                    </a>
                </li>
                <li>
                    <a href="http://steamcommunity.com/id/dangduoc/" target="_blank">
                        <img src='@Url.Content("~/Content/images/steam.jpg")' class="img-contact">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="myCarousel wow fadeInUp" data-wow-duration='1s' class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="bottom: 80px">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides-->
    <div class="carousel-inner" role="listbox">
        @{
            int k = 0;
        }
        @foreach (SlideImage img in ViewBag.Slide)
        {
            if (k == 0)
            {
                k++;
                <div class="item active">
                    <img src='@img.url' alt="@img.title" width="1600" height="900">
                    <div class="carousel-caption">
                        <h3>@img.title</h3>
                        <p>@img.date</p>
                    </div>
                </div>
            }
            else
            {
                <div class="item">
                    <img src='@img.url' alt="@img.title" width="1600" height="900">
                    <div class="carousel-caption">
                        <h3>@img.title</h3>
                        <p>@img.date.Value.ToString("MMMM dd,yyyy")</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="Container">
    <div class="row" style="font-size: 22px;">
        <div class="col-sm-6 wow slideInLeft data-wow-duration='1s'">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Life Lessons From HIMYM</h2>
            <p style="background-color: #f9f9f9">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Nothing good ever happens after 2 A.M<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Don't chase after what does not work. Let the universe take over<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Things happens for a reason<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Don't ever give up crazy time with your friends<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Miracle happens<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Things you may not have liked before may not be that bad later on<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Perfect isn't always perfect<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Some people have expiration dates<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Wait for it<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Don't postpone joy<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>The important moments shouldn't be wasted, because you can't get them back<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Be clear about the things you say<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>The most important people in your life are the ones you can picture sitting on the porch with<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>The talk is one of the worst things ever, but it is important<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>You're not looking for someone who accepts your quirks, you're looking for someone who loves them, cherishes them, and loves you as a person becaues of them.<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Some people are worth a lot of work to keep around.<br />
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Get out of the house, go for a walk, get a bagel.<br />
            <p>
        </div>
        <div class="col-sm-6 wow slideInRight data-wow-duration='1s'">
            <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i>Favorite Quotes</h2>
            <ul class=".list-unstyled">
                <li>
                    <blockquote>
                        <p>
                            Do not correct a fool, or he will hate you; correct a wise man and he will appreciate you.
                        </p>
                        <footer>-Proverbs 9:8</footer>
                    </blockquote>
                </li>
                <li>
                    <blockquote>
                        <p>
                            If you love someone, set them free. If they come back they’re yours; if they don’t they never were
                        </p>
                        <footer>-Rechard Bach</footer>
                    </blockquote>
                </li>
                <li>
                    <blockquote>
                        <p>
                            Immature love says: "I love you because I need you." Mature love says "I need you because I love you."
                        </p>
                        <footer>-Erich Fromm</footer>
                    </blockquote>
                </li>
                <li>
                    <blockquote>
                        <p>
                            The things two people do to each other they remember. If they stay together, it's not because they forget; it's because they forgive
                        </p>
                        <footer>-Demi Moore in Indecent Proposal</footer>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-left wow slideInLeft data-wow-duration='1s'" style="overflow: hidden;">
        <h1><i class="fa fa-hand-o-right" aria-hidden="true"></i>My Last Post</h1>
        @{
            MyBlogDBModel data = new MyBlogDBModel();
            var last_post = data.DailyPosts.OrderByDescending(p => p.dateWrite).FirstOrDefault();
            <a href="/DailyPost/Post?id=@last_post.postID.ToString()" style="color:black" class="wow slideInLeft data-wow-duration='1s'"><h2>@last_post.postTitle</h2></a>
            <p>
                @Html.Raw(last_post.postContent)
                <footer class="text-right">@last_post.dateWrite.ToString("MMMM dd,yyyy")</footer>
            </p>
        }
        <a class="btn" href="/DailyPost">More post here</a>
    </div>
</div>
<div class="Container text-left" style="overflow: hidden; background-color: #2d2d30">

    <link href="~/Content/lightslider.css" rel="stylesheet" />
    <script src="~/Scripts/lightslider.js"></script>
    <script src="~/Scripts/ajSlider.min.js"></script>
    <div class="row">
        <div class="col-sm-3 text-left wow slideInLeft data-wow-duration='2s'" style="color: #fff">
            <h1><i class="fa fa-picture-o" aria-hidden="true"></i><a href="/FriendsandMe/Moments">My Gallery</a></h1>
            <h2><small>These are <strong>the best moment</strong> I'd taken with people I love. You can find more by click the button bellow</small></h2>
            <a class="btn" href="/FriendsandMe/Moments">View more</a>
        </div>
        <div class="col-sm-9  wow slideInRight data-wow-duration='2s'">
            <div class="item">
                <div class="clearfix" style="max-width: 100%;">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        @foreach(GalleryHome g in ViewBag.Gallery)
                        {
                            string thumb = g.url + "_m.jpg";
                            string url = g.url + "_b.jpg";
                        <li data-thumb="@thumb">
                            <img src="@url" class="img-responsive" />
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left wow slideInLeft data-wow-duration='2s'" style="color: #fff;">
        <div class="col-sm-8 text-left">
            <h1><i class="fa fa-car" aria-hidden="true"></i><a href="/FriendsandMe/Trips">My Trips</a></h1>
            <h2><small>I've had <strong>such great times</strong> with my friends traveled from the top of mountains to the middle of the sea. I will save it as <strong>the best memories</strong>. You can see more and detail of our trips by click the button below</small></h2>
            <a class="btn" href="/FriendsandMe/Trips">View More</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <style>
        .item {
            margin-bottom: 60px;
        }

        #content-slider {
            height: 200px;
        }

        .content-slider li {
            height: 100%;
            max-width: 300px;
        }

        .content-slider img {
            max-height: 170px;
        }

        .lSSlideOuter .lSPager.lSpg {
            display: none;
        }
    </style>
    <div class="row" style="color: #fff">
        <div class="item  wow zoomIn" data-wow-duration='5s' data-wow-delay='1s'>
            <ul id="content-slider" class="content-slider">
                @foreach (MyBlog.Models.Trip t in ViewBag.trips)
                {
                    string img = (!String.IsNullOrEmpty(t.imgThumbnail)) ? t.imgThumbnail : "";
                    string title = (!String.IsNullOrEmpty(t.postTitle)) ? t.postTitle : "Title was not set";
                    <li class="recent-post">
                        <img src="@Url.Content(img)" class="img-responsive" style="background-color: black" />
                        <div class="text-center">
                            <a href="/FriendsandMe/Trip/@t.postID.ToString()">
                                <h4 class="text-uppercase">
                                    @title<br />
                                </h4>
                                <small>April 09,2016</small>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            $("#content-slider").lightSlider({
                loop: true,
                keyPress: true
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                pause: 3000,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        })

    </script>
}
@section style{
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Content/wow.min.js"></script>
    <script>
 new WOW().init();
    </script>
}

@section meta{
    <meta property="og:site_name" content="Blog Ted" />
    <meta property="og:url" content="http://duocdang.azurewebsites.net" />
    <meta property="og:title" content="My Blog" />
    <meta property="og:description" content="Chia sẻ niềm vui, tâm trạng, các thứ. Chỗ cho anh em bạn bè chém gió. Cập nhập những thông tin nóng hỏi hàng ngày của lũ bạn khốn nạn.
                   Ảnh troll, các thứ :))" />
    <meta property="og:image" content="http://i.imgur.com/UTkO6NI.jpg" />
    <meta property="fb:app_id" content="219237851782524" />
}