@model MyBlog.Models.DailyPost

@section CurrentPage{
    <i class="fa fa-angle-right"></i>
    <span>Bài viết</span>
    <i class="fa fa-angle-right"></i>
    <span>Xóa</span>
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Tiêu đề
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.postTitle)
            </dd>
    
            <dt>
                Nội dung
            </dt>
    
            <dd>
                @Html.Raw(Model.postContent)
            </dd>
    
            <dt>
                Ngày viết
            </dt>
            <dt>
                <img src="@Model.metaImage" class="img-responsive" style="max-height:200px"/>
            </dt>
    
            <dd>
                @Model.dateWrite.ToShortDateString()
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Xóa bài viết" class="btn btn-default" /> 
            </div>
        }
    </div>