@model IEnumerable<MyBlog.Models.user>

@section CurrentPage{
    <i class="fa fa-angle-right"></i>
    <span>Tài khoản</span>
    <i class="fa fa-angle-right"></i>
    <span>Xóa</span>
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userInfo.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRole.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.useremail)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userInfo.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userRole.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.useremail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
                @Html.ActionLink("Details", "Details", new { id=item.userID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.userID })
            </td>
        </tr>
    }
    
    </table>